.form-inline.form-group {
    .month-control {
        width: 50px;
        position: relative;
	    display: inline-block;
    }
    .date-control {
        width: 50px;
        position: relative;
	    display: inline-block;
    }
    .year-control {
        width: 63px;
        position: relative;
	    display: inline-block;
    }
    .date-divider {
		width: 15px;
	    display: inline-block;
		text-align: center;
    }
}