.header {
    width: 100%;
	display: inline-block;
	background-color: #333;
	vertical-align: top;

    .home-btn {
	    padding: 20px 20px 20px 40px;
	    float: left;
        font-size: 30px;
    }

	.account-btns {
		padding-right: 40px;
	}

    ul {
        list-style: none;
        float: right;

        li {
            display: inline-block;
        }

		a {
			padding: 10px 15px 10px 15px;
			margin-left: 10px;
			background-color: #008000;
		}
    }

    a {
	    padding: 20px;
        color: #fff;
    }

	a:link {
	text-decoration: none;
	}
}