body {
	margin: 0px;

	.content-wrapper {
		display: inline-block;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}

	.content {
	    float: left;
		margin-top: 40px;
		margin-left: 40px;
	}
}
