body {
    padding-top: 50px;
	background-color: #eee;

    .content-wrapper {
        display: inline-block;

		.content {
			float: left;
			margin-top: 10px;
			margin-left: 10px;
		
			@media (max-width: 750px) {
				.container {
					width: 100%;
				}
			}

			@media (min-width: 750px) and (max-width: 992px) {
				.container {
					width: 575px;
				}
			}

			@media (min-width: 992px) and (max-width: 1200px) {
				.container {
					width: 800px;
				}
			}

			@media (min-width: 1200px) {
				.container {
					width: 1000px;
				}
			}
		}
    }
}