.field-validation-error {
    color: #a94442;
    font-size: medium;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.date-picker {
	background-color: #FFF !important;
	cursor: text !important;
}

.hidden {
	display: none !important;
}