body {
  padding-top: 50px;
  background-color: #eee; }
  body .content-wrapper {
    display: inline-block; }
    body .content-wrapper .content {
      float: left;
      margin-top: 10px;
      margin-left: 10px; }
      @media (max-width: 750px) {
        body .content-wrapper .content .container {
          width: 100%; } }
      @media (min-width: 750px) and (max-width: 992px) {
        body .content-wrapper .content .container {
          width: 575px; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        body .content-wrapper .content .container {
          width: 800px; } }
      @media (min-width: 1200px) {
        body .content-wrapper .content .container {
          width: 1000px; } }

#navbar {
  float: right; }

@media (max-width: 750px) {
  .sidebar {
    display: none !important;
    height: -1px;
    margin: -1px;
    padding: 0px;
    border: 0px; } }
@media (min-width: 750px) {
  .sidebar {
    float: left;
    background-color: Silver;
    font-size: 14px; }
    .sidebar .sidebar-item {
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid #808080; }
      .sidebar .sidebar-item .clickable {
        cursor: pointer; }
    .sidebar h5 {
      margin: 5px 0px 5px 0px; }
    .sidebar ul {
      list-style: none;
      margin: 0px; }
    .sidebar li {
      margin-left: -20px; }
    .sidebar a {
      color: #000; }
    .sidebar a:link {
      text-decoration: none; } }
.task-list .col-description {
  word-wrap: break-word;
  word-break: break-all;
  width: 47%;
  color: inherit; }
.task-list .col-category {
  width: 10%;
  color: inherit; }
.task-list .col-duedate {
  width: 10%;
  color: inherit; }
.task-list .col-status {
  width: 12%;
  color: inherit; }
.task-list .col-priority {
  width: 9%;
  color: inherit; }
.task-list .col-actions {
  width: 12%; }
.task-list .due-today {
  color: Red; }

.add-task {
  margin-top: 15px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  .form-signin .form-signin-heading {
    margin-bottom: 10px; }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px; }
  .form-signin .form-control:focus {
    z-index: 2; }
  .form-signin input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin button[type="submit"] {
    margin-top: 10px; }

.field-validation-error {
  color: #a94442;
  font-size: medium;
  background-color: #f2dede;
  border-color: #ebccd1; }

.date-picker {
  background-color: #FFF !important;
  cursor: text !important; }

.hidden {
  display: none !important; }

