@model ToDoApp.Model.ToDoItem
<div class="form-inline form-group">
	@Html.LabelFor(model => model.DueDateMonth, new { @class = "col-sm-2 control-label" })
	<div class="col-sm-10 date-box">
		<div class="month-control">
			@Html.TextBoxFor(model => model.DueDateMonth, new { @class = "form-control month-control", @placeholder = "MM" })
		</div>
		<span class="date-divider">/</span>
		<div class="date-control">
			@Html.TextBoxFor(model => model.DueDateDay, new { @class = "form-control date-control", @placeholder = "DD" })
		</div>
		<span class="date-divider">/</span>
		<div class="year-control">
			@Html.TextBoxFor(model => model.DueDateYear, new { @class = "form-control year-control", @placeholder = "YYYY" })
		</div>
	</div>
</div>