<div class="header">
	<div class="home-btn">
		<a href="/Home/Index">ToDos</a>
	</div>
	<div class="account-btns">
		<ul>
			<li><a href="/Home/Index">Register</a></li>
			<li><a href="/Home/Index">Sign In</a></li>
		</ul>
	</div>
</div>
