@if (Request.IsAuthenticated)
{
	<div class="sidebar">
		<div class="sidebar-item">
			<h5><b>GROUP BY:</b></h5>
			<ul>
				<li><div class = "clickable" onclick="todoApp.groupByDueDate()">Due Date</div></li>
				<li><div class = "clickable" onclick="todoApp.groupByPriority()">Priority</div></li>
				<li><div class = "clickable" onclick="todoApp.groupByStatus()">Status</div></li>
				<li><div class = "clickable" onclick="todoApp.groupByCategory()">Category</div></li>
			</ul>
		</div>
		<div class="sidebar-item">
			<div class = "clickable" onclick="todoApp.getAllTasks()">All Tasks</div>
		</div>
		<div class="sidebar-item">
			<div class = "clickable" href="/Task/List">Recently Added</div>
		</div>
		<div class="sidebar-item">
			<div class = "clickable" href="/Task/List">Recently Completed</div>
		</div>
		<div class="sidebar-item">
			<div class = "clickable" href="/Task/List">History</div>
		</div>
	</div>
}