<div class="sidebar">
	<div class="sidebar-item">
		<h5>VIEW BY:</h5>
		<ul>
			<li><a href="#">Due Date</a></li>
			<li><a href="#">Priority</a></li>
			<li><a href="#">Status</a></li>
			<li><a href="#">Category</a></li>
		</ul>
	</div>
	<div class="sidebar-item">
		Recently Added
	</div>
	<div class="sidebar-item">
		Recently Completed
	</div>
	<div class="sidebar-item">
		History
	</div>
</div>
