.task-list {
	.col-description {
	    word-wrap: break-word;
	    word-break: break-all;
	    width: 47%;
	    color: inherit;
	}

	.col-category {
	    width: 10%;
	    color: inherit;
	}

	.col-duedate {
	    width: 10%;
	    color: inherit;
	}

	.col-status {
	    width: 12%;
	    color: inherit;
	}

	.col-priority {
	    width: 9%;
	    color: inherit;
	}

	.col-actions {
		width: 12%;
	}

	.due-today {
	    color: Red;
	}
}

.add-task {
	margin-top: 15px;
}