@model ToDoApp.UI.ViewModel.Task.TaskListViewModel
@{
	ViewBag.Title = "Task List";
}
<h2>Task List</h2>
<div class="task-list">
	<div id="loadingMessage">Loading Tasks...</div>
</div>
<div class="add-task hidden">
	@Html.ActionLink("Add Task", "Add")
</div>
@section scripts {
	<script src="../../Scripts/Custom/Pages/TaskList.js" type="text/javascript"></script>
}